body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
 }
 /* ヘッダー */
 header {
    width: 92%;
    padding: 30px 4% 10px;
    position: fixed;
   top: 0;
   display: flex;
   align-items: center;
 }
 h1 {
    margin: 0; padding: 0;
    font-size: 30px;
 }
 a {	
    text-decoration: none;
    color: #000000;
 }
 ul {
    list-style: none;
    margin: 0;
    display: flex;
 }
 li {
    margin: 0 0 0 15px;
    font-size: 20px;
 }
 nav {
    margin: 0 0 0 auto;
 }
 
/*==================================================
共通　横並びのための設定
===================================*/

.gnavi{
   display: flex;
   flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
   margin:0 0 50px 0;
   list-style: none;
}

.gnavi li a{
   display: block;
   padding:10px 30px;
   text-decoration: none;
   color: #333;
}

.gnavi li{
   margin-bottom:20px;
}

/*==================================================
　5-3-1 中心から外に線が伸びる（下部）
===================================*/

.gnavi li a{
   /*線の基点とするためrelativeを指定*/
  position: relative;
}

.gnavi li.current a,
.gnavi li a:hover{
  color:#ffffff;
}

.gnavi li a::after {
   content: '';
   /*絶対配置で線の位置を決める*/
   position: absolute;
   bottom: 0;
   left: 10%;
   /*線の形状*/
   width: 80%;
   height: 2px;
   background:#0481A2;
   /*アニメーションの指定*/
   transition: all .3s;
   transform: scale(0, 1);/*X方向0、Y方向1*/
   transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
   transform: scale(1, 1);/*X方向にスケール拡大*/
}
 /*背景*/
 body {
   background-image: url("画像７.jpg"); /* 画像 */
   background-size: cover;               /* 全画面 */
   background-attachment: fixed;         /* 固定 */
   background-position: center center;   /* 縦横中央 */
}
h2{
   font-size: 50px;
   text-align: center;
}
h3{
   font-size: 30px;
   text-align: center;
}
h4{
   font-size: 30px;
   text-align: center;
}
p{
   font-size: 20px;
   text-align: center;
}
/* フッター */
.footer-2 {
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 25px 10px 10px;
}
.footer-2__list {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0 1.5em;
   list-style-type: none;
   margin: 0 0 .5em;
   padding: .5em;
}

.footer-2__sns-icon {
   width: 21px;
   height: 21px;
   color: #000000;
}

.footer-2__copyright {
   margin: 0;
   color: #000000;
   font-weight: 200;
   font-size: .8em;
}